@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        --background: 0 0% 10%;
        --foreground: 0 0% 100%;
        --card: 0 0% 10%;
        --card-foreground: 0 0% 100%;
        --popover: 0 0% 10%;
        --popover-foreground: 0 0% 100%;
        --primary: 200 20% 50%;
        --primary-foreground: 200 20% 20%;
        --secondary: 200 20% 30%;
        --secondary-foreground: 0 0% 100%;
        --muted: 200 20% 60%;
        --muted-foreground: 0 0% 70%;
        --accent: 200 20% 40%;
        --accent-foreground: 0 0% 100%;
        --destructive: 0 0% 60%;
        --destructive-foreground: 0 0% 100%;
        --border: 200 20% 80%;
        --input: 200 20% 90%;
        --ring: 200 20% 70%;
        --radius: 2rem;
    }

    .dark {
        --background: 0 0% 10%;
        --foreground: 0 0% 100%;
        --card: 0 0% 10%;
        --card-foreground: 0 0% 100%;
        --popover: 0 0% 10%;
        --popover-foreground: 0 0% 100%;
        --primary: 200 20% 50%;
        --primary-foreground: 200 20% 20%;
        --secondary: 200 20% 30%;
        --secondary-foreground: 0 0% 100%;
        --muted: 200 20% 60%;
        --muted-foreground: 0 0% 70%;
        --accent: 200 20% 40%;
        --accent-foreground: 0 0% 100%;
        --destructive: 0 0% 60%;
        --destructive-foreground: 0 0% 100%;
        --border: 200 20% 80%;
        --input: 200 20% 90%;
        --ring: 200 20% 70%;
    }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
